@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CPMS WebApp</h1>
    <p class="lead">Welcome to CPMS Web APP</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Author Registration", "Index", "Authors")</h2>
    </div>


    <div class="col-md-4">
        <h2>@Html.ActionLink("Reviewer Registration", "Index", "Reviewers")</h2>
    </div>
    
</div>