@{
    ViewBag.Title = "Paper";
}
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
-->


<p>Please press Add paper to add a paper</p>

<div class="col-md-4">
    <h2>@Html.ActionLink("Add paper", "Index", "Papers")</h2>
</div>
