@{
    ViewBag.Title = "To review a paper please press the Review button";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-4">
    <h2>@Html.ActionLink("Review", "Index", "Reviews")</h2>
</div>